
body{
    font-family:Arial,sans-serif;
    background:#f8f6ff;
}

h1{
    text-align:center;
    color:#5e35b1;
}

.form-box{
    width:38%;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.15);
}

label{
    font-weight:bold;
}

input[type=text],
input[type=email],
input[type=date],
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

.gender{
    margin:10px 0 15px 0;
}

button{
    width:100%;
    padding:12px;
    background:#7e57c2;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
}

.record-box{
    width:45%;
    margin:auto;
    background:white;
    border-radius:15px;
    padding:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#7e57c2;
    color:white;
    padding:12px;
}

td{
    border:1px solid #ddd;
    padding:12px;
}

.profile-card{
    width:340px;
    margin:auto;
    background:white;
    border:3px solid #7e57c2;
    border-radius:20px;
    padding:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.card-header{
    border:2px solid #7e57c2;
    border-radius:10px;
    padding:10px;
    margin-bottom:15px;
}

.avatar{
    width:130px;
    height:160px;
    border-radius:10px;
    border:3px solid #7e57c2;
}
